.navbar {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    margin-bottom: 20px;
    
}

.container-fluid a {
    text-decoration: none;
    color: #777777;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

.row-start {
    margin-bottom: 20px;
}

.list-meme {
    display: flex;
    justify-content: space-between;
}
#link-meme {
    cursor: not-allowed;
}

.paginate {
    margin: 30px 0 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    cursor: pointer;
}

.card-text {
    color: #428bca;
    text-align: center;
}

.card-text:hover {
    text-decoration:underline;
}